# Dependencies
node_modules/


# Build outputs
dist/
build/


# Environment files
.env
.env.local


# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# NestJS
server/dist/

# React
client/build/

# Coverage
coverage/


#calude
.claude/**
